@{
    ViewBag.Title = "Product Management - Home Page";
}

<div class="container">
    <fieldset style="margin-top: 50px;">
        <legend>ASP.NET MVC - E2E</legend>

        <p>How to test an ASP.NET MVC application end-to-end:</p>
        <ul>
            <li>Unit Tests</li>
            <li>Integration Tests</li>
            <li>Functional Tests</li>
        </ul>
        <p>And at the end - we will configure TeamCity as Continous Integration tool:</p>
        <ol>
            <li>Phase => 
                <ul>
                    <li>Restore NuGet Packages</li>
                    <li>Get sources and build project</li>
                </ul>
            </li>
            <li>Phase => Build and run Unit Tests</li>
            <li>Phase => Build and run Integration Tests</li>
            <li>Phase => Build and run Acceptance Tests</li>
        </ol>
        <p>These are the tools I'll be using in the test projects:</p>
        <ul>
            <li>Mock framework</li>
            <li>Fluent MVC Testing</li>
            <li>Razor Generator</li>
            <li>Razor Generator Testing Library</li>
            <li>Browser Automation Library</li>
        </ul>

    </fieldset>
</div>