
@{
    ViewBag.Title = "Confirmation";
}

<fieldset style="margin-top: 50px;">
    <legend>Confirmation </legend>
    <div id="productId" style="color: transparent;">@ViewBag.ProductId</div>
    <div class="container" id="message">
        Operation successfully executed...
    </div>
</fieldset>